﻿body {

          font-family: Georgia, "Times New Roman", Times, serif;  
          font-size: 12px;  
           color: #000000; 
          background-color: #FFFFFF; 
          margin: 0px;
        padding: 0px;
}


.noPrint { 
          display: none; 
          } 
                    
.break {

            page-break-after:always; 
        }
